.DonationSubpage {
    margin-top: 20px;
    padding-bottom: 40px;
}

.GitcoinSummaryTitle {
    color: #333;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
}

.GitcoinSummaryData {
    color: #888;
    font-size: 14px;
    line-height: 28px;
    height: 60px;
    display: flex;
    align-items: center;
}

.GitcoinTable {
    width: 100%;
    margin-top: 20px;
}

.GitcoinTable th, .GitcoinTable tr, .GitcoinTable {
    border-collapse: collapse;
    padding: 0
}

.GitcoinTable th {
    text-align: left;
    color: #333;
    font-size: 16px;
    line-height: 32px;
}

.GitcoinDataLogo {
    height: 40px;
    width: 40px;
}

.GitcoinTable td {
    text-align: left;
    color: #888;
    font-size: 14px;
    line-height: 28px;
    height: 60px;
}

.GitcoinDataTitleWrapper {
    display: flex;
    align-items: center;
    gap: 20px
}

.DonationSubpageFooter {
    margin-top: 40px;
}

.DonationSubpageFooterTitle {
    color: #333;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
}

.DonationSubpageFooter img {
    height: 40px;
    margin-top: 20px;
}