.NftContentModalContainer {
    padding: 40px;
}

.NftContentModalGroup {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.NftContentModalGroup:last-child {
    margin-bottom: 0;
}

.NftContentModalImageWrapper {
    max-width: 100%;
    width: 100%;
    /* height: 300px; */
    overflow: hidden;
    display: flex;
    justify-items: center;
    border-radius: 3px;
}

.NftContentModalImageWrapper img {
    width: 100%;
    max-width: 100%;
}

.NftContentModalImageWrapper.narrow {
    max-width: 300px;
    width: 300px;
    height: 300px;
}

.NftContentModalAttributesContainer {
    width: 330px;
    margin-left: 10px;
}

.NftContentTitle {
    font-weight: bold;
    width: 90px;
    min-width: 90px;
}

.NftContentModalAttributesGroupWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* margin-top: 12px; */
}

.NftContentModalAttributeGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 5px;
    padding: 10px 20px 12px 20px;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    font-size: 12px;
    font-family: Montserrat;
    user-select: none;
}

.NftContentModalAttributeGroup .title {
    letter-spacing: 0.4px;
}

.NftContentModalAttributeGroup .value {
    color: #888
}

.NftContentModalGroup.openseawrapper {
    display: flex;
    align-items: center;
    margin-top: -4px;
}

.NftContentModalGroup.openseawrapper img {
    height: 22px;
    margin-right: 8px;
    transform: translateY(6px);
}