.poap-subpage{
    margin-top: 24px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px #e5e5e5;
}

.PoapContentModalContainer {
    padding: 40px;
}

.PoapContentModalGroup {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.PoapContentModalGroup:last-child {
    margin-bottom: 0;
}

.PoapContentModalContainer .PoapContentModalGroup img {
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
}

.PoapContentTitle {
    font-weight: bold;
    width: 90px;
    min-width: 90px;
}

.PoapDescriptionArea{
    max-height: 200px;
    overflow-y: auto;

}
.PoapDescriptionArea::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

.PoapDescriptionArea::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
