.HomePage {
    padding: 40px 80px;
}

.HomeHead {
    border-radius: 32px;
    filter: drop-shadow(0px 16px 32px rgba(45, 35, 117, 0.02));
}

.HomeHeadContainer {
    padding: 40px 80px;
    border-radius: 32px;
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 65.78%);
}

.HomeHeadLeftContainer {
    display: inline-block;
    width: 323px;
}

.HomeHeadClubStats {
    color: #222222;
    font-size: 24px;
    font-weight: bold;
    font-family: "Akrobat";
}

.HomeHeadClubStatsNumber {
    font-size: 56px;
    margin-right: 10px;
}

.HomeHeadClubIntroduction {
    font-size: 20px;
    color: #BBBBBB;
    margin-top: 10px;
    font-family: Montserrat;
}

.HomeHeadRightContainer {
    background: rgba(255, 255, 255, 0.6);
    width: 490px;
    display: inline-block;
    backdrop-filter: blur(20px);

    border-radius: 24px;
    float: right;
    height: 172px;
    margin-top: -20px;
    padding: 40px 60px 40px 80px;
    vertical-align: middle;
}

.HomeHeadHotTopicsHeadIcon {
    margin-top: -10px;
    margin-left: -60px;
    opacity: 0;
}

.HomeHeadHotTopicsHeadTitle {
    display: inline-block;
    vertical-align: top;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    font-family: Montserrat;
}

.HomeHeadHotTopicsContent {
    font-size: 16px;
    line-height: 24px;
    color: #BBBBBB;
    /* or 150% */

    /* text-align: justify; */
}

.HomeHeadHotTopicsContent a {
    font-size: 16px;
    line-height: 24px;
    color: #BBBBBB;
    text-decoration: none;
}

.HomeHeadHotTopicsHeadPager {
    font-size: 12px;
    color: #BBBBBB;
    float: right;
    line-height: 24px;
    margin-top: 6px;
}

.HomeHeadHotTopicsHeadPager img {
    height: 24px;
    vertical-align: top;
    cursor: pointer;
}

.HomeHeadHotTopicsHeadPagerText {
    display: inline-block;
    line-height: 24px;
    vertical-align: top;
    letter-spacing: 0.5px;
    font-size: 15px;
    font-family: Akrobat;
    transform: translateY(1px);
}

.HomeBody {
    padding: 30px 40px;
    border-radius: 32px;
    background-color: #fff;
    margin-top: 20px;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    filter: drop-shadow(0px 16px 32px rgba(45, 35, 117, 0.02));
}

.HomeBodyHead {
    position: relative;
}

.HomeBodyHeadTitle {
    color: #222222;
    font-weight: 500;
    font-size: 24px;
    /* font-weight: bold; */
}