
.SearchInputWrapper {
    position: relative;
    float: right;
    width: 360px;
    height: 48px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    padding: 9px 15px;
    margin-top: -8px;
}

.SearchInputWrapper input {
    border: 0;
    outline: 0;
    font-size: 16px;
    line-height: 26px;
    width: calc(100% - 30px);
    color: var(--title-color)
}

.SearchInputWrapper input::placeholder {
    color: var(--subtitle-color);
}

.SearchInputWrapper input:focus {
    border: 0;
    outline: 0;
}

.SearchInputIcon {
    position: absolute;
    right: 12px;
    top: 13px;
    cursor: pointer;
}