@import '../../index.scss';

.login-modal-container {
    padding: 40px;
    border-radius: 32px;

    >.title {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: $title-color;
    }

    >.step-container {
        display: flex;
        padding: 40px 0;
        gap: 80px;
        justify-content: space-evenly;
        border-bottom: 1px solid $border-color;

        &.hidden {
            display: none;
        }

        .step-icon {

            display: flex;
            flex-direction: column;
            align-items: center;
            filter: grayscale(100%);

            &.active {
                filter: unset
            }

            >.img-wrapper {}

            >.title {

                font-size: 13px;
                line-height: 20px;
                text-align: center;
                color: $theme-color;
            }
        }
    }

    .wallet-container {
        display: flex;
        margin-top: 40px;
        gap: 16px;

        .wallet-icon {
            display: flex;
            padding: 20px 0;
            gap: 8px;
            justify-content: center;
            align-items: center;
            background: #F8F7FC;
            border-radius: 12px;
            width: 328px;
            user-select: none;

            &:not(.disabled):hover {
                border: 1px solid $theme-color;
                /* margin-top: -1px; */
                cursor: pointer;
                padding: 19px 0;
            }

            &.disabled {
                filter: grayscale(100%);
            }

            >.icon-wrapper {
                img {
                    height: 40px;
                }
            }

            >.title {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: $title-color;
            }
        }
    }

    .setting-container {

        margin-top: 40px;

        >form {
            >.form-group {
                display: flex;
                align-items: center;
                margin-top: 40px;

                label {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                    color: $title-color;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    width: 140px;
                }

                input {
                    width: 360px;
                    height: 48px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: $title-color;
                    border: 1px solid $border-color;
                    box-sizing: border-box;
                    border-radius: 12px;
                    padding-left: 16px;
                }

                .error-hint {
                    margin-left: 20px;
                }
            }
        }
    }
    .button-container{

    }
}





.LoginModalAvatarContainer {
    max-height: 400px;
    overflow-y: auto;
    padding: 0 10px;
    overflow-x: hidden;
}

.LoginModalAvatarContainer::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
}

.LoginModalAvatarContainer::-webkit-scrollbar-thumb {
    background-color: #e2dcfa;
    width: 5px;
}

.LoginModalButtonContainer {
    text-align: center;
    margin-top: 40px;
}

.LoginModalButtonContainer .MainButton {
    width: 120px;
    margin: 0 16px;
}