.TestMintPage {
    margin: 20px 40px;
    background-color: white;
    border-radius: 12px;
    padding: 32px 40px;
}

.TestMintPage .title {
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: bold;
}

.TestMintPage .form {
    padding: 24px 32px;
    border: 1px solid #f2f2f2;
    border-radius: 6px;
}

.TestMintPage .attributecontainer {}

.TestMintPage .attributecontainer .group {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.TestMintPage .attributecontainer .group .RLabel {
    margin: 0;
}

.TestMintPage .attributecontainer .group .closebutton {
    height: 20px;
    cursor: pointer;
}