.GhostButtonGroup {
    display: inline-block;
    position: relative;
}

.GhostButton {
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    padding: 13px 18px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.GhostButton img {
    width: 20px;
    height: 20px;
    vertical-align: top;
}

.GhostButton.left {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.GhostButton.right {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.GhostButton+.GhostButton {
    border-left: 0;
}

.GhostButton+.GhostButton:hover,
.GhostButton+.GhostButton.active {
    margin-left: -1px;
}

/* 
.GhostButton:hover::before {
    pointer-events: none;
    position: absolute;
    border: 1px solid #000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
} */

.GhostButton:hover,
.GhostButton.active {
    border: 1px solid #5A49DE;
}

.GhostButton {
    filter: grayscale(100%);
}

.GhostButton:hover,
.GhostButton.active {
    filter: none;
}