@import '../../index.scss';

.hollow-button {
    border: 1px solid $theme-color;
    border-radius: 12px;
    color: $theme-color;
    padding: 12px 24px;
    margin-left: auto;
    cursor: pointer;
    display: inline-block;
}