.RInput {
    border-radius: 12px;
    border: 1px solid #dddddd;
    color: #222222;
    outline: 0;
    width: 100%;
    max-width: 480px;
    padding: 0 14px;
    font-size: 16px;
    line-height: 24px;
    resize: none;
}

input.RInput {
    height: 48px;
}

.RInput:focus {
    border: 1px solid #dddddd;
    outline: 0;
}

.RInput.error,
.RInput.error:focus {
    border: 1px solid rgb(244, 33, 46);
}


.RInput::placeholder {
    color: #BBBBBB;
}

.RLabel {
    color: #222222;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 20px;
}


.RTextarea {
    width: 100%;
    max-width: 480px;
    position: relative;
}

.RTextarea textarea {
    border-radius: 12px;
    border: 1px solid #dddddd;
    color: #222222;
    outline: 0;
    width: 100%;
    max-width: 480px;
    padding: 0 14px;
    font-size: 16px;
    line-height: 24px;
    resize: none;
    height: 144px;
    padding: 10px 14px;
}

.RTextarea textarea::-webkit-scrollbar {
    width: 4px;
    background: none;
}

.RTextarea textarea::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #aaa;
}

.LengthIndicator {
    position: absolute;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;
    right: 15px;
    bottom: 10px;
    color: #BBBBBB
}

.LengthIndicator.exceeded {
    color: rgb(244, 33, 46)
}

.RImageUploader {
    position: relative;
    height: 90px;
    width: 90px;
}

.RImageUploader.wide {
    width: 100%;
}

.RImageUploaderMask {
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
}

.RImageUploader.large,
.RImageUploader.large .RImageUploaderMask {
    width: 200px;
    height: 200px
}

.RImageUploaderMask.empty {
    border: 1px dashed #dddddd;
}

.RImageUploaderImg,
.RImageUploaderImg img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.RImageUploaderIcon {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.RImageUploaderIcon.hidden {
    display: none;
}

.RImageUploader .loading {
    position: absolute;
    margin: auto;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    top: -9999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RImageUploader .loading svg {
    max-width: 100%;
    max-height: 100%;
}

.RSelect,
.RMultiSelect {
    display: block;
    border-radius: 12px;
    border: 1px solid #dddddd;
    color: #222222;
    outline: 0;
    width: 100%;
    /* max-width: 480px; */
    padding: 0 14px;
    font-size: 16px;
    line-height: 24px;
    height: 48px;
}

.RMultiSelectCardWrapper {
    display: flex;
    gap: 8px 12px;
    margin-bottom: 8px;
    flex-wrap: wrap;
}

.RMultiSelectCard {
    background-color: #ffffff;
    border: 1px solid #00000022;
    border-radius: 8px;
    padding: 4px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #333;
}

.RMultiSelectCard img {
    height: 16px;
    cursor: pointer;
}

.DurationInput {
    position: relative;
}

.DurationInput select {
    position: absolute;
    bottom: 10px;
    right: 8px;
    color: #666;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-align: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px
}

.DurationInput select::-ms-expand {
    display: none;
}

.DurationInput select:focus {
    border: none;
}



.DurationInput input::-webkit-outer-spin-button,
.DurationInput input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}