.ProfilePageContainer {
    margin: 80px;
    border-radius: 32px;
    overflow: hidden;
    /* width: calc(100% - 160px); */
}

.ProfilePageHead {
    height: max(15vw, 216px);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: max(60px, 4.2vw) max(2.8vw, 40px);
    position: relative;
}

.ProfileSettingButton {
    width: 20px;
    cursor: pointer;
    filter: grayscale(100%);
    margin-left: 20px;
}

.ProfileSettingButton:hover {
    filter: none
}

.ProfilePageHeadContainer {
    height: max(6.6vw, 96px);
    display: flex;
    align-items: center;
}

.ProfilePageHeadAvatarWrapper {
    height: max(6.6vw, 96px);
    width: max(6.6vw, 96px);
    border-radius: max(3.3vw, 48px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProfilePageHeadAvatar {
    height: max(4.4vw, 64px);
    width: max(4.4vw, 64px);
}

.ProfilePageHeadName {
    font-size: max(1.37vw, 20px);
    font-weight: 500;
    color: #222222;
    margin-left: 12px;
    display: flex;
    align-items: center;
    font-family: montserrat;
}

.ProfilePageHeadStats {
    margin-left: auto;
    display: flex;
}

.ProfilePageHeadStatsGroup {
    text-align: center;
    margin-left: max(3.9vw, 56px);
    /* margin-left: 3.9vw; */
}

.ProfilePageHeadStatsNumber {
    background: linear-gradient(122.65deg, #5A49DE 23.36%, #F7C4D7 132.77%),
        linear-gradient(0deg, #222222, #222222);

    /* background-image:-webkit-linear-gradient(bottom,red,#fd8403,yellow);  */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: Akrobat;
    font-style: normal;
    font-weight: bold;
    font-size: 2.76vw;

    font-size: max(2.76vw, 40px);
    text-align: center;
}

.ProfilePageHeadStatsText {
    font-size: max(1.64vw, 24px);
    color: #BBBBBB;
    font-family: Akrobat;
}

.ProfilePageMainContainer {
    background-color: #ffffff;
    padding: 0 44px;
}

.ProfilePageMainTitle {
    display: flex;
    padding: 24px 0;
    border-bottom: 1px solid #DDDDDD;
}

.ProfilePageMainTitleMenu {
    display: flex;
    width: 100%;
    align-items: center;
}

.ProfilePageMainTitleMenuItem {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #BBBBBB;
    margin-right: 48px;
    cursor: pointer;
    font-family: Montserrat;
}

.ProfilePageMainTitleMenuItem.selected {
    font-weight: bold;
    color: #000000;
}

.ProfilePageContentWrapper {
    min-height: 50vh;
}