@import '../../../index.scss';

.proposal-card {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 24px;
    padding: 24px 32px;
    margin-top: 40px;

    >.head {
        display: flex;

        >.user-info {
            >.avatar {
                width: 40px;
                height: 40px;
                border-radius: 20px;
                vertical-align: middle;
                margin-right: 16px;
            }

            >.username {
                display: inline-block;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #222222;
                vertical-align: middle;
                margin-right: 12px;
            }

            >.address {

                display: inline-block;
                font-size: 12px;
                line-height: 18px;

                text-align: center;

                color: $text-color;
                background: #F5F5F5;
                border-radius: 8px;
                vertical-align: middle;
                padding: 0 3px
            }
        }

        >.state {
            margin-left: auto;

            >.left-part {
                box-sizing: border-box;
                padding: 8px 16px;
                display: inline-block;
                vertical-align: middle;
                border-radius: 12px 0 0 12px;
                background: linear-gradient(75.15deg, #06D5CB 10.31%, #00C4BB 126.49%);
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;

                &.closed {
                    background: linear-gradient(75.15deg, rgb(103, 126, 125) 10.31%, rgb(139, 139, 139) 126.49%);
                }
            }

            >.right-part {
                box-sizing: border-box;
                padding: 8px 16px;
                display: inline-block;
                vertical-align: middle;
                border-radius: 0 12px 12px 0;
                background: #F5F5F5;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #222222;
            }

        }
    }

    >.body {
        margin-top: 16px;

        >.title {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: $title-color;

            a {
                color: $title-color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        >.content {
            margin-top: 8px;
            font-size: 16px;
            line-height: 24px;
            color: #533838;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            * {
                margin: 0
            }
        }
    }
}