@import '../../../../global.scss';

.admin-input-card {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    margin-bottom: 8px;
    // position: relative;
    width: 410px;

    &.not-editing {
        margin-bottom: 10px;

        .r-input {
            border: none;

        }
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    .r-input {
        padding: 0;
        font-size: 14px;
        height: unset;
        padding: 2px 0;

        border: {
            top: 0;
            left: 0;
            right: 0;
        }

        border-radius: 0;
        // border-top: 0;
        // border-bottom: 0;
        // border: ;

        &:disabled {
            background: none;
        }
    }

    .del-button {
        height: 16px;
        cursor: pointer;
        transform: translateY(-1px);
        margin-left: 4px;
    }

    // >.avatar{
    //     height: 20px;
    //     position: absolute;
    //     left:-28px;
    //     top:1px
    // }
    >.avatar {
        height: 24px;
        width: 24px;
        min-width: 24px;
        transform: translateY(-1px);
        // .default-avatar-wrapper {
        //     padding: 2px 2px;
        // }
        // svg {
        //     height:17px;
        //     width: 15px;
        // }

    }
}