.BonusInputCard {
    border-radius: 12px;
    border: 1px solid #DDDDDD;
    margin-top: 20px;
}

.BonusInputCard .maintitle {
    font-size: 18px;
    padding: 18px 30px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:  rgba(240, 240, 240, 0.4);
    background-size: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
}

.BonusInputCard > .container{
    background:  rgba(240, 240, 240, 0.4);
    padding: 30px 30px;
    margin-top: 2px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.BonusInputCard .r-label {
    font-size: 16px;
    margin-bottom: 12px;
}

.BonusInputCard .CreateClubPageFormGroup {
    margin-bottom: 16px;
}

.BonusRateInputGroup {
    position: relative;
}

.BonusRateInputGroup::after {
    content: '%';
    position: absolute;
    bottom: 12px;
    right: 18px;
    color: #444;
    font-size: 18px;
}

.BonusRateInputGroup input::-webkit-outer-spin-button,
.BonusRateInputGroup input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.BonusRateInputGroup input[type=number] {
    -moz-appearance: textfield;
}

.BonusInputCard .r-input {
    max-width: 100%;
}

.BonusTypeSelectContainer {
    display: flex;
    gap: 12px;
}

.BonusTypeOption {
    flex-direction: column;
}

.BonusTypeOption img {
    width: 200px;
    height: 200px;
}

.BonusTypeOption .MainButton {
    width: 100%;
    margin-top: 0px;
    border-radius: 0;
}

.CreateClubPageFormGroup .r-label .loading{
    transform: translateY(2px);
}