@import '../../../../index.scss';

.cover-editor-modal-container {
    padding: 20px 20px;

    >.head {

        font-size: 24px;
        line-height: 36px;
        font-weight: 500;
        color: #222222;
        padding-bottom: 30px;
        border-bottom: 1px solid #EAEAEE;
    }

    .ratio-selector-container {
        padding: 9px 0;
        margin: 0 -10px;

        .ratio-option {
            display: inline-block;
            width: 50%;
            cursor: pointer;
            padding: 15px 10px;
            border-radius: 5px;

            &:hover {
                background-color: #f5f5f5;
            }

            >.symbol {
                display: inline-block;
                width: 20px;
                height: 20px;
                border: 1px solid #BBBBBB;
                vertical-align: top;
                border-radius: 10px;
                margin-top: 2px;
                text-align: center;

                &.selected {
                    background: #5A49DE;
                    border: none;

                    img {
                        margin-top: 5px;
                        vertical-align: top;
                    }
                }
            }

            >.text {

                display: inline-block;
                padding-left: 15px;
                vertical-align: top;

                >.title {

                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: $title-color;
                }

                >.content {
                    font-size: 14px;
                    line-height: 22px;
                    color: $subtitle-color;

                }
            }


        }
    }

    >.main-container {
        cursor: pointer;
        position: relative;
        width: 672px;
        height: 288px;
        background-color: #e5e5e5;

        &.empty:hover {
            background-color: #d8d8d8;
        }

        canvas {
            margin-left: -60px;
        }

        >.uploader-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            right: auto;
            bottom: auto;
            margin-right: -50%;
            width: 60px;
            height: 60px;
            transform: translate(-50%, -50%);
        }
    }

    >.slider-container {
        margin-top: 30px;
        text-align: center;

        .wrapper {

            display: inline-block;
            width: 343px;
        }
    }

    >.button-container {

        margin-top: 40px;
        text-align: center;
    }
}

.reactEasyCrop_Contain {
    max-width: unset !important;
    max-height: unset !important;
}