.LogoIconWrapper img {
    cursor: pointer;
}

.MenuItemWrapper {
    margin-top: 50px;
}

.MenuItem {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #EAEAEE;
    margin-top: 24px;
    line-height: 34px;
    cursor: pointer;
}

.MenuItem:hover {
    background-color: #EAEAEE;
}

.MenuItem img {
    vertical-align: middle;
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
    width: 18px;
    height: 18px
}

.MenuItem.isIcon img {
    border-radius: 0;
}

.MenuItem.fill img {

    width: 100%;
    height: 100%
}

.LogoutButton {
    width: 30px;
    cursor: pointer;
}

.switchnetbutton {
    margin-top: auto;
    text-align: left;
    padding-left: 14px;
    background: none;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #BBBBBB;
    line-height: 18px;
}
.switchnetbutton:hover{
    color: #000000;
}

.LogoutButtonWrapper {
    margin-top: auto;
    display: none;
}

.MenuBar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 40px 0;
    box-shadow: 4px 0 12px #00000022;
}