.CreateClubPage {
    padding: 40px 80px;
}

.CreateClubPageHead {
    display: flex;
    margin-bottom: 30px;
    height: 45px;
    /* width: 100%; */
    /* margin: 0 -80px 30px -80px;*/
    position: fixed;
    width: calc(100% - 260px);
    z-index: 9999;
}

.CreateClubPageTitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: var(--title-color);
    margin-bottom: 30px;
    transform: translateY(2px);
}


.CreateClubStepContainer {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
}

.CreateClubStepContainer .stepicon {
    height: 30px;
    width: 30px;
    filter: grayscale(100%);
    opacity: 0.3;
    /* cursor: pointer; */
}

.CreateClubStepContainer .stepicon.active {
    filter: none;
    opacity: 1;
}

.CreateClubStepContainer .splitter {
    width: 100px;
    height: 2.45px;
    background: #D1D5DB;
}

.CreateClubStepContainer .splitter.active {
    background: var(--theme-color);
}

.CreateClubStepContainer .text {
    width: 145px;
    text-align: center;
    color: #444444;

    opacity: 0.3;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    transform: translateX(2px);
}

.CreateClubStepContainer .text.active {
    color: var(--theme-color);
    opacity: 1;
}

.CreateClubForm {
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(45, 35, 117, 0.02);
    border-radius: 0px;
    padding: 30px 60px;
    margin-bottom: 30px;
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    border-radius: 32px;
}

.CreateClubContainer .CreateClubForm:first-child {
    margin-top: 0
}

.CreateClubForm.hidden {
    display: none;
}

.CreateClubPageFormContainerLeft {
    display: inline-block;
    width: 50%;
    border-right: 1px solid #E5E5E5;
    vertical-align: top;
    padding-right: 60px;
}

.CreateClubPageFormContainerRight {
    display: inline-block;
    width: 50%;
    padding-left: 60px;
    vertical-align: top;
    border-left: 1px solid #E5E5E5;
    margin-left: -1px;
}

.CreateClubPageFormGroup {
    margin-bottom: 40px;
    width: 360px;
}

.MembershipCardInput,
.MembershipCardInput .CreateClubPageFormGroup {

    width: 100%;
}

.CreateClubPageFormTip {
    font-size: 14px;
    color: #BBBBBB;
    text-align: center;
    margin: -20px 0 15px 0;
    width: 360px;
}

.HiddenInput {
    display: none;
}

.CreateClubSnsSymbolWrapper {
    display: flex;
    gap: 24px;
    align-items: center;
}


.CreateClubSnsSymbol {
    height: 28px;
    filter: grayscale(100%);
    cursor: pointer;
    user-select: none;
}

.CreateClubSnsSymbol.selected,
.CreateClubSnsSymbol:hover {
    filter: none
}

.LinkInputModalContainer {
    padding: 10px 0;
}

.LinkInputModalStepInfoContainer {
    display: flex;
    padding: 40px 0;
    gap: 80px;
    justify-content: space-evenly;
    border-bottom: 1px solid #EAEAEE;
}

.LinkInputModalStepInfoContainer .StepIcon {
    font-family: Montserrat;
    cursor: pointer;
}

.LinkInputModalStepInfoContainer .StepIcon img {
    height: 28px;
}



.LinkInputModalInputWrapper {
    display: flex;
    align-items: center;
    padding: 40px 20px 20px 20px;
}

.LinkInputModalContainer label {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    width: 100px;
}

.LinkInputModalContainer input {
    margin-left: 40px;
    width: 100%;
}

.CreateClubPageFormModule {
    border: dashed 1px #e5e5e5;
    padding: 20px 30px;
    border-radius: 12px;
    position: relative;

}

.CreateClubPageFormModule .removeButton {
    position: absolute;
    right: 30px;
    top: 20px;
    height: 18px;
    filter: grayscale(20%);
    cursor: pointer;
}

.CreateClubPageFormModule .removeButton:hover {
    filter: none;
}

.CreateClubPageNftButton {
    cursor: pointer;
    width: 36px;
    height: 36px;
}

.CreateClubImportContainer {
    /* background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(45, 35, 117, 0.02);
    border-radius: 32px;
    padding: 40px 60px; */


    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(45, 35, 117, 0.02);
    border-radius: 0px;
    padding: 30px 60px;
    margin-bottom: 30px;
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    border-radius: 32px;
}

.CreateClubContainer {
    max-height: calc(100vh - 0px);
    width: calc(100% + 50px);
    padding-right: 50px;
    overflow-y: auto;
    overflow-x: visible;
    -webkit-mask-image: linear-gradient(to bottom, transparent 40px, black 80px, black calc(100vh - 100px), transparent calc(100vh - 80px));
    mask-image: linear-gradient(to bottom, transparent 40px, black 80px, black calc(100vh - 100px), transparent calc(100vh - 80px));
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}


.CreateClubContainer::-webkit-scrollbar {
    width: 0px;
}

.CreateClubContainer .scrollbar {
    width: 8px;
    height: 60px;
    border-radius: 4px;
    background-color: #ffffff;
    position: absolute;
    right: 4px;
    top: 80px;
    z-index: 9999;
    box-shadow: 2px 2px 4px rgba(45, 35, 117, 0.1);
}