.AIActPage {
    /* border-radius: 32px; */
    background: #ffffff00;

    /* background: linear-gradient(#ffffffaa, #ffffff55); */
    height: 100vh;
    position: relative;
    transition: 300ms ease-in-out;
    transform: translateY(0);
    min-width: 1200px;
    /* margin: 80px; */
}

.AIActPage.page2 {
    /* transform: translateY(-100vh); */
}

.AIActTitleContainer {
    height: 33vw;
    position: absolute;
    top: 0;
    left: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.AIActTitleContainer2 {
    visibility: hidden;
}

.AIActTitle {
    /* display: inline-block; */
    font-size: 20vw;
    color: #000;
    letter-spacing: 0.8vw;
    line-height: 10.2vw;
    height: 10.2vw;
    white-space: nowrap;
    width: 100%;

    transform: translateX(-2.6vw) scaleX(0.9);
    user-select: none;
}

.line {
    height: 10.2vw;
}

.line:first-of-type {
    transform: translateX(-0.8vw);
}

.line:first-of-type .letter:first-of-type {
    color: #ff73a6;
    /* background: linear-gradient(122.65deg, #aba2f7 23.36%, #F7C4D7 132.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100px;
    height: 100px; */
}


.AIActTitleSub {
    font-size: 2.6vw;
    /* margin-left: 1vw; */
    white-space: nowrap;
    position: absolute;
    top: 27vw;
    /* left: 29.6vw; */
    left: 39.2vw;
    display: inline-block;
    transform: translateY(-3vw);
    letter-spacing: 0.4vw;
    /* background: linear-gradient(122.65deg, #8e81ff 23.36%, #ffa3c5 100.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

    transform: translateX(-3.8vw) scaleX(1.06);
}

.AIActTitleSub::after {
    content: 'Take a look';
    position: absolute;
    right: 0;
    top: 3.8vw;
    background: linear-gradient(122.65deg, #8e81ff 23.36%, #ffa3c5 132.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.AIActTitleSub img {
    position: absolute;
    width: 3vw;
    right: -3.6vw;
    top: 7.6vw;
    cursor: pointer;
    user-select: none;

    /* filter: invert(100%); */
}

.AIActPageLogo {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40px;
}

.AITwitterButton {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
}

.AITwitterButton img {
    height: 2vw;
    width: 2vw;
}


.AIActPageLogoText {
    position: absolute;
    right: 5px;
    top: 5px;
    transform: rotate(90deg) translateX(84px) translateY(-70px) scaleX(0.9);
    font-size: 50px;
    letter-spacing: -1px;
    color: #000;
    user-select: none;
}

.AIActPageCarousel {
    position: absolute;
    display: none;
    width: 100000px;
    /* transform-origin: 0 0;
    transform: rotate(90deg); */
    /* top: 0; */
    /* left: 92vw; */
    animation: movingLeft 100s infinite;
}

.testimage {
    width: calc(96vh - 33vw);
    height: calc(96vh - 33vw);

    margin-top: 4vh;
    border-radius: 0 10px 0 0;
}

.AIActPageCarouselImage {
    width: calc(82vh - 33vw);
    /* 12vw; */
    height: calc(82vh - 33vw);
    margin-top: 18vh;
    user-select: none;
    /* transform: rotate(-90deg); */
}

@keyframes movingDown {
    0% {
        transform: rotate(90deg) translateX(0);
    }

    100% {
        transform: rotate(90deg) translateX(-220vw);
    }
}

@keyframes movingLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-1640vh + 760vw));
    }
}

.WhiteListInput {
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    font-size: 16px;
    height: 40px;
    border-radius: 5px;
}

.WhiteListInput:hover,
.WhiteListInput:focus {
    border: none;
    outline: none;
    background-color: #fff;
}


.WhiteListActivateButton {
    margin-top: 12px;
    color: #00000000;
    font-size: 18px;
    /* font-weight: bold; */
    text-align: right;
    user-select: none;
    cursor: pointer;
    /* background-image: linear-gradient(122.65deg, #aba2f7 23.36%, #F7C4D7 132.77%);
    background-clip: text; */
    display: none;
    color: white
        /* position: absolute; */
}

.WhiteListActivateButton.display {
    display: block
}

.WhiteListActivateButton .ReactLoading {
    height: 1.4vw !important;
    width: 1.4vw !important;
    float: right
}

.MainButton .ReactLoadingWrapper {
    height: 21px;
    width: 64px;
}

.MainButton .ReactLoadingWrapper.short {
    height: 21px;
    width: 32px;
}

.MainButton .ReactLoading {
    height: 21px !important;
    width: 21px !important;
}


.AIActMainContainer {
    height: 100vh;
}

.AIActMenu {
    vertical-align: top;
    width: 90px;
    background-color: #fff;
    height: 100vh;
    display: inline-block;
    padding: 40px 24px;
    vertical-align: top;
}


.AIActPageFirstContainer {
    height: 100vh;
    background-color: #ffffffbb;
    backdrop-filter: blur(8px);
    opacity: 0;
}

.AIActContentContainer {
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 90px);
    height: 100vh;
    background: #ffffff55;

    overflow-y: auto;
    overflow-x: hidden;
    backdrop-filter: blur(8px);
    /* margin-left: 80px; */
    padding: 40px 80px;
    /* margin-top: 40px; */
    /* border-radius: 32px; */
    /* padding: 20px 40px; */
    /* backdrop-filter: blur(20px); */
}

.AIActPageFormContainerLeft {
    display: inline-block;
    width: 50%;
    border-right: 1px solid #E5E5E5;
    vertical-align: top;
    padding-right: 60px;
}

.AIActPageFormContainerRight {
    display: inline-block;
    width: 50%;
    padding-left: 60px;
    vertical-align: top;
    margin-left: -1px;
}

.AIActContentContainer .AIActPageFormContainerLeft,
.AIActContentContainer .AIActPageFormContainerRight {
    /* height: 100%; */
    /* overflow-y: auto; */
}

.AIActContentContainer .AIActPageFormContainerLeft::-webkit-scrollbar,
.AIActContentContainer .AIActPageFormContainerRight::-webkit-scrollbar {
    width: 5px;
    /* background-color: #e2dcfa; */
}

.AIActContentContainer .AIActPageFormContainerLeft::-webkit-scrollbar-thumb,
.AIActContentContainer .AIActPageFormContainerRight::-webkit-scrollbar-thumb {
    background-color: #b7a7ff;
    width: 5px;
    border-radius: 3px;
}

.AIActPageFormContainerRight {
    border-left: 1px solid #E5E5E5;
    margin-left: -1px;
}

.AIActTitle {
    position: relative;
}

.AIActTitleContainer2 .letter {}

.AIActTitleContainer .letter.moving {
    position: absolute;
    transition: top 1000ms, left 1000ms;
    transform: translateX(1.2vw);
}

.AIActTitleContainer .letter.transparant {
    opacity: 0.2;
}


.AIActContentContainer .CreateClubPageFormGroup {
    width: unset;
}

.AIResultContainer {
    margin-top: 30px;
}

.Underline {
    text-decoration: underline;
    cursor: pointer;
}

.Italic {
    font-style: italic;
}

.TestInput {
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 3px 5px
}

.NftCollectionNameButton {
    display: inline-block;
    border-radius: 4px;
    padding: 5px 8px;
    cursor: pointer;
    margin-right: 8px;
    font-size: 14px;
    line-height: 22px;
    color: #888888;
    background: #e6e6e6;
}

.NftCollectionNameButton.selected {
    background: rgba(90, 73, 222, 0.1);
    color: #5A49DE;
}

.AIActContentContainer .UserNftCardContainer {
    max-height: 384px;
    display: flex;
    gap: 8px 12px;
    padding: 0px 0;
    flex-wrap: wrap;
    overflow-y: scroll;
    margin-top: 4px;
    margin-bottom: 20px;
}

.AIActContentContainer .UserNftCardContainer::-webkit-scrollbar {
    width: 5px;
}

.AIActContentContainer .UserNftCardContainer .CreateClubPageFormContainerLeft::-webkit-scrollbar-thumb {
    background-color: #b7a7ff;
    width: 5px;
    border-radius: 3px;
}

.MyCreationCard {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
    /* justify-content: space-between; */
}

.MyCreationCardImg {
    width: 240px;
}

.MyCreationCard.error .MyCreationCardImg {
    border: 3px solid red;
}

.MyCreationCardError {
    font-size: 18px;
    color: red
}

.MyCreationCardId {
    color: #555;
    font-size: 16px;
}

.MyCreationCardAttrWrapper {
    margin-top: 24px;
}

.MyCreationCardAttrTitle {
    color: #000;
    font-size: 18px;
    margin-bottom: 12px;
}

.MyCreationCardAttrItem {
    color: #555;
    font-size: 16px;
    margin-top: 6px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.MyCreationCardAttrItem a {
    color: #555;
}



.AIActMainTitle {
    font-family: Akrobat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 5px;
}

.AIActFunctionalContainer {
    border-radius: 32px;
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.35) 100%);
    position: relative;
    margin-top: 40px;
    padding: 40px;
}

.DownTipWrapper {
    margin-top: 20px;
}

.AIActSubTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */


    color: #222222;
    margin-bottom: 20px;
}

.AIActLabel {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: inline-block;

    color: #888888;
    width: 80px;
}

.AIActInfoValue {
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    display: inline-block;
}

.AIActInfoValue .ReactLoading {
    height: 24px !important
}

.AIActInfoValue .LogoutButton {
    height: 20px;
    transform: translateY(4px);
    margin-left: 10px;
}

.AIFormGroup {
    margin-bottom: 20px;
}

.NftCollectionNameButtonContainer {
    margin-top: 20px;
}


@media screen and (max-width: 1540px) {
    .MyCreationCardImg {
        height: 200px;
        width: 200px;
    }

    .MyCreationCardAttrItem {
        width: 220px;
        font-size: 14px;
        line-height: 20px;
    }

    .MyCreationCardAttrTitle {
        margin-bottom: 6px;
        font-size: 15px;
        line-height: 24px;
    }
}

@media screen and (max-width: 1330px) {
    .MyCreationCard {
        gap: 24px
    }

    .MyCreationCardImg {
        height: 150px;
        width: 150px;
    }

    .MyCreationCardAttrTitle {
        margin-bottom: 6px;
        font-size: 14px;
        line-height: 18px;
    }

    .MyCreationCardAttrItem {
        font-size: 12px;
        width: 180px;
        margin-top: 0px;
        color: #888;
        line-height: 18px;

    }

    .MyCreationCardAttrWrapper {

        margin-top: 12px;
    }
}

.AIActIntroductionContainer {
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 32px;
    position: relative;
    height: 300px;
    overflow: hidden;
}

.AIActIntroductionContainerBg {
    position: absolute;
    right: 0;
    height: 100%;
    /* max-width: 100%; */
    top: 0;
    border-radius: 32px
}

.AIActIntroductionContainerText {
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 300px;
    top: 0;
    border-radius: 32px;
    background: linear-gradient(90deg, #FFFFFFff 0%, rgba(255, 255, 255, 0.35) 100%);
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    padding: 40px 500px 40px 80px;
    /* justify-content: space-between; */
}

.AIActIntroductionTitle {
    font-family: Akrobat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 5px;
}

.AIActMainIntroduction {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #888888;
    min-width: 520px;
    max-width: 1000px;
}

.AIActMainIntroduction p {
    margin: 5px 0;
}

.AIActIntroductionContainerObj {
    height: 300px;
    position: absolute;
    right: -60px;
}


@media screen and (max-width: 1600px) {
    .AIActIntroductionContainerText {
        padding: 40px 300px 40px 80px;
    }

    /* .AIActMainIntroduction {
        max-width: 1200px;
    } */

    .AIActIntroductionContainerObj {
        height: 240px;
        top: 40px;
        right: -50px;
        /* opacity: 0.6; */
    }
}


@media screen and (max-width: 1480px) {

    .AIActMainIntroduction {
        font-size: 15px;
        line-height: 24px;
    }

    .AIActIntroductionTitle {
        font-size: 32px;
        line-height: 40px;
    }
}



@media screen and (max-width: 1333px) {
    .AIActIntroductionContainerText {
        padding: 30px 300px 40px 80px;
    }
}