@import '../../../global.scss';

.proposal-index-page {
    padding: 40px 80px 40px 80px;

    >.title {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: $title-color;
        margin-bottom: 30px;
        transform: translateY(2px);

        .backarrow {
            cursor: pointer;
            margin-right: 8px;
            -webkit-transform: translateY(4px);
            transform: translateY(4px);
        }
    }

    .left-container {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        padding-right: 60px;
        padding-bottom: 120px;
        border-radius: 16px;
        background: #fff;
        box-shadow: 0px 16px 32px rgba(45, 35, 117, 0.02);
        padding: 40px 36px 40px 36px;
    }

    .right-container {
        display: inline-block;
        width: 50%;
        padding-left: 30px;
        vertical-align: top;
    }

    >.container {
        .author-container {
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                gap: 16px;

                >.address {
                    color: $text-color;
                    font-size: 12px;
                    line-height: 18px;
                    opacity: 1;
                    text-decoration: none;
                    background: #f5f5f5;
                    border-radius: 4px;
                    padding: 4px 6px;
                    text-align: center;
                    transform: translateY(2px);
                }

                >.name {
                    font-weight: 700;
                    font-size: 16px;
                    color: #000000;
                }

                &:hover>.name {
                    text-decoration: underline;
                }

                >.avatar {
                    vertical-align: middle;
                    width: 40px;
                    height: 40px;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 40px;
                    }
                }
            }
        }

        .main-container {
            >.title {
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 44px;
                display: flex;
                align-items: center;
                color: $title-color;
                margin-top: 12px;
            }

            >.body {
                margin-top: 12px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: $text-color;

                * {
                    font-size: 16px !important;
                }
            }
        }

        .voting-container {
            border-radius: 16px;
            background: #fff;
            box-shadow: 0px 16px 32px rgba(45, 35, 117, 0.02);
            padding: 40px 30px 40px 30px;

            >.head {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 16px;

                >.title {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 30px;
                    color: $title-color;
                }

                >.top {

                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                    display: flex;
                    align-items: center;
                    color: $theme-color;
                    background: rgba(90, 73, 222, 0.1);
                    border-radius: 12px;
                    padding: 6px 8px;
                }
            }

            >.time {
                margin-bottom: 20px;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: $text-color;
            }

            .choice-option-wrapper {
                margin-top: 32px;

                .choice-option {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: $title-color;
                    border: $default-border;
                    border-radius: 12px;
                    height: 48px;
                    margin-bottom: 20px;
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;

                    &:last-of-type {
                        margin-bottom: 0px;
                    }

                    &.selected {
                        border: 1px solid $theme-color;
                        color: $theme-color;
                    }

                    &.tick {
                        margin-left: 8px;
                    }

                    &.disabled {
                        cursor: default;
                    }

                    >.container {
                        position: absolute;
                        height: 100%;
                        z-index: 1;
                        left: 0;
                        top: 0;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 12px 16px;

                        >.title {
                            display: flex;
                        }
                    }

                    >.bg {
                        position: absolute;
                        height: 100%;
                        background-color: rgba(90, 73, 222, 0.04);
                        z-index: 0;
                        left: 0;
                        top: 0;
                    }

                    &.selected>.bg {
                        background-color: rgba(90, 73, 222, 0.12);
                    }
                }
            }

            .choice-option-button {

                margin-top: 24px;
                margin-bottom: 6px;
                width: 100%;
                display: flex;
                justify-content: center;

                .loading {
                    margin-left: 12px;
                }
            }


        }

        .result-container {
            border-radius: 16px;
            background: #fff;
            box-shadow: 0px 16px 32px rgba(45, 35, 117, 0.02);
            padding: 40px 30px 40px 30px;
            margin-top: 30px;

            >.choice-selector {
                .ghost-button {}
            }

            >.head {

                display: flex;
                justify-content: space-between;
                align-items: center;

                >.title {
                    color: $title-color;
                    font-size: 32px;
                    font-weight: 700;
                    transform: translateY(-5px);
                }

                >.number-wrapper {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: normal;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: $text-color;

                    .number {
                        font-family: 'Abel';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 28px;
                        line-height: 24px;
                        letter-spacing: 0.005em;
                        color: $theme-color;
                    }
                }
            }

            .filter-container{
                margin-top: 20px;
            }

            .main-container {
                border-radius: 24px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                margin-top: 40px;
                padding: 24px 32px;

                .vote-table {
                    width: 100%;
                    max-width: 100%;
                }

                .vote-card {
                    // display: flex;
                    // justify-content: space-between;
                    // align-items: center;
                    font-size: 16px;
                    line-height: 24px;

                    /* identical to box height, or 150% */
                    td {
                        padding: 16px 0;
                    }

                    // margin-bottom: 20px;

                    &:last-of-type {
                        margin-bottom: 0px;
                    }

                    .name,
                    .name a {
                        font-weight: bold;
                        color: #000000;
                        text-decoration: none;
                        overflow: hidden;
                        min-width: 100px;
                        max-width: 160px;
                        @include ellipsis(1);


                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .choice {
                        width: 80px;
                        // min-width: 60px;
                        @include ellipsis(1);
                        text-align: center;
                    }

                    .avatar {
                        height: 40px;
                        width: 40px;

                        img {
                            height: 40px;
                            width: 40px;
                            border-radius: 20px;
                        }
                    }

                    .number-wrapper {
                        min-width: 80px;
                        text-align: right;
                        @include ellipsis(1);
                    }

                }
            }
        }
    }
}