.Metable {
    width: 100%;
    text-align: left;
}

.Metable th,
.Metable tr,
.Metable td,
.Metable {
    border-collapse: collapse;
    padding: 0
}

.Metable th {
    text-align: left;
    color: #222222;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    padding: 12px 24px;
}

.Metable td {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    padding: 12px 24px;
}

.Metable tbody tr:nth-child(odd) {
    background-color: #f3f3f3;
}

.Metable tr td:first-child {
    border-top-left-radius: 16px;
}

.Metable tr td:last-child {
    border-top-right-radius: 16px;
}

.Metable tr td:first-child {
    border-bottom-left-radius: 16px;
}

.Metable tr td:last-child {
    border-bottom-right-radius: 16px;
}

.Metable.selectable tbody tr {
    cursor: pointer;
}

.Metable.selectable tbody tr:hover {
    background-color: #e5e5e5;
}