@import '../../../../global.scss';

.add-admin-button-wrapper {
    margin-top: 20px;

    .add-admin-button {
        cursor: pointer;
    }


}

.create-club-form.basic-profile {

    .introduction-input-wrapper {
        border: $default-border;
        border-radius: 12px;
    }
}