.addmorenftbutton {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: var(--theme-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px var(--theme-color) dotted;
    cursor: pointer;
    padding: 20px 0;
}